body{
    font-size: 12pt;
}
body a{
    font-size: 12pt;
}
.issues_table {
    width: 100%;
    margin-top: 20px;
}
.issue_title {
    text-align: right;
    font-weight: bold;
}
.issue_text {
    margin-bottom: 12px;
}
.flashes {
    margin-right: 20%;
    margin-left: 20%;
    background-color: #fdd;
    border-radius: 1em;
}
