body{
    font-size: 12pt;
}
body a{
    font-size: 12pt;
}
.issues_table {
    width: 100%;
    margin-top: 20px;
}
.issue_title {
    text-align: right;
    font-weight: bold;
}
.issue_text {
    margin-bottom: 12px;
}
.flashes {
    margin: 0 20% 0 20%;
    padding-botton: 5px;
    background-color: #fdd;
    border-radius: 1em;
}
